/* html, body styles */
html, body {
  font-family: 'Roboto', sans-serif;
  background: #BFD3D3;
}

.navbar_left_title {
  float: left;
  height: 50px;
  color: #777;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 15px;
  margin: 0 0 0 -15px; /* remove built in p tag margin, -15 px to bring menu flush against left side */
}

/* form-control styling */
.form-control {
  height: auto; /* set height to auto, 34 was slightly off from its button */
  border: 1px solid #5bc0de;
}

/* set styles for function return div */
.container {
  /* set position to relative so div doesnt get pushed down */
  position: relative;
  width: 60%;
  height: 350px;
  background: #fff;
  border-radius: 10px;
  margin-top: 65px;
  /* set up the display as table, so child elements can be vertically centered */
  display: table;
}

/* set styles for page title */
.page_title {
  /* set position to absolute so this content doesnt push on other content */
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  /* set the top position of the page title */
  top: 45px;
}

/* set styles for funtion return */
#function_return,
#evens_array,
#odds_array {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  /* vertically center content in the container div */
  display: table-cell;
  vertical-align: middle;
}

/* set styles for function output text. this id is generated in js files and isn't in the markup */
#function_result,
#evens_array,
#odds_array {
  color: #ff9b9b;
}
